.btn-table{
    width: 60px;
    height: 60px;
    background-color: black;
    border: 1px solid black;
    margin: 12px;
    color: rgb(14, 225, 52);
    font-size: 12px;
}
.btn-show-invoice-detail {
    width: 60px;
    height: 60px;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
    margin: 12px;
    color: red;
}
.btn-update-quantity {
    padding: 5px 10px;
    background-color: #f8f9fa;
    border: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-update-quantity:hover {
    background-color: #e2e6ea;
}

.btn-update-quantity:active {
    background-color: #dae0e5;
}
.form-test{
    color: red;
}

#left{
    /* overflow: hidden; */
    width: 20%;
    float: left;
    /* flex: 1; Cho phép hai div chiếm cùng một không gian */
    overflow-y: auto; /* Thêm thanh cuộn dọc nếu nội dung dài hơn chiều cao của div */
    height: 650px; /* Đặt chiều cao cố định cho các div */
    /* padding: 10px; Thêm khoảng cách bên trong các div */
    box-sizing: border-box;
}
#right{
    width: 80%;
    float: right;
    /* flex: 1; Cho phép hai div chiếm cùng một không gian */
    overflow-y: auto; /* Thêm thanh cuộn dọc nếu nội dung dài hơn chiều cao của div */
    height: 650px; /* Đặt chiều cao cố định cho các div */
    /* padding: 10px; Thêm khoảng cách bên trong các div */
    box-sizing: border-box;
}

.header {
    text-align: center;
    /* position: sticky; 
    top: 0;
    padding: 10px;
    z-index: 1;  */
}

#left::-webkit-scrollbar, #right::-webkit-scrollbar {
    width: 3px; /* Chiều rộng của thanh cuộn */
}
#left::-webkit-scrollbar-thumb, #right::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của phần thanh cuộn có thể kéo */
    border-radius: 10px; /* Góc bo tròn cho thanh cuộn */
}
#left::-webkit-scrollbar-thumb:hover, #right::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Màu của thanh cuộn khi hover */
}
/* //////// */
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th,
.order-table td {
    border: 1px solid none;
    padding: 8px;
    text-align: left;
}

.order-table th {
    background-color: none;
    color: white;
}

.order-table tr:nth-child(even) {
    background-color: none;
}

.order-table tr:hover {
    background-color: none;
}

.status-success {
    color: green;
}

.product-image {
    width: 50px;
    height: auto;
}

.price {
    color: #FF5722;
}

.header {
    background-color: none;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#data {
    overflow: auto;
    width: 110px;
  height: 110px;
}  */


#check{
    margin-left: 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
}

.order-table th, .order-table td {
    padding: 12px;
    /* text-align: left; */
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.order-table th {
    background-color: #4b4a4a;
    font-weight: bold;
}

.order-table .set-row {
    text-align: center;
}

.order-table .price {
    /* text-align: right; */
    text-align: center;
}

.order-table .status-success {
    color: green;
}
